.body-content {
    padding-top: 10px;
}

.response-col_status {
    width: unset;
}

.scheme-container {
    display: none;
}

.swagger-ui-svg {
    height: 0;
    position: absolute;
    width: 0;
}
