@inject IConfiguration Config
<!DOCTYPE html>
<html lang="en-gb">
<head prefix="og:http://ogp.me/ns#">
    @{
        string canonicalUri = Context.Request.Canonical();
        string image = ViewBag.MetaImage ?? string.Empty;

        if (!string.IsNullOrEmpty(image))
        {
            image = Url.Content(image)!;
        }

        var model = MetaModel.Create(
            Options.Value.Metadata,
            canonicalUri: canonicalUri,
            description: ViewBag.MetaDescription as string,
            imageUri: image,
            imageAltText: ViewBag.MetaImageAltText as string,
            robots: ViewBag.MetaRobots as string,
            title: ViewBag.Title as string);
    }
    @await Html.PartialAsync("_Meta", model)
    @await Html.PartialAsync("_Links", canonicalUri)
    @await RenderSectionAsync("links", required: false)
    @await RenderSectionAsync("styles", required: false)
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
</head>
<body>
    @await Html.PartialAsync("_Navbar")
    <main class="container body-content">
        @RenderBody()
        @await Html.PartialAsync("_Footer")
    </main>
    @await Html.PartialAsync("_Styles")
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("scripts", required: false)
</body>
<!--
    Datacenter: @Config["Azure:Datacenter"]
    Instance:   @Environment.MachineName
    Commit:     @GitMetadata.Commit
-->
</html>
