@{
    SiteOptions options = Options.Value;
}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a id="link-home" asp-controller="Home" asp-action="Index" class="navbar-brand">@options.Metadata?.Domain</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="site-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="link-docs" href="/@options.Api?.Documentation?.Location" class="nav-link" title="My personal projects">Documentation</a>
            </li>
            <li class="nav-item">
                <a id="link-blog-header" class="nav-link" href="@options.ExternalLinks?.Blog?.AbsoluteUri" rel="noopener" target="_blank" title="My blog">Blog</a>
            </li>
            <li class="nav-item">
                <a id="link-about" class="nav-link" href="@(new Uri(new Uri(options.Metadata?.Author?.Website ?? string.Empty), "home/about/"))" rel="noopener" target="_blank" title="About me">About</a>
            </li>
        </ul>
    </div>
</nav>
