name: build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
    branches:
      - main
      - dotnet-vnext
      - dotnet-nightly
  workflow_dispatch:

env:
  APPLICATION_URL_PROD: https://api.martincostello.com
  AZURE_WEBAPP_NAME: api-martincostello
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_NOLOGO: true
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  FORCE_COLOR: 3
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

permissions: {}

jobs:
  build:
    name: ${{ matrix.os-name }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 20

    env:
      CONTAINER_REGISTRY: ${{ github.repository_owner }}.azurecr.io
      PUBLISH_CONTAINER: ${{ github.event.repository.fork == false && github.ref_name == github.event.repository.default_branch && matrix.os-name == 'linux' }}

    outputs:
      container-tag: ${{ steps.publish-container.outputs.container-tag }}

    permissions:
      attestations: write
      contents: read
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - os-name: macos
            runner: macos-latest
          - os-name: linux
            runner: ubuntu-latest
          - os-name: windows
            runner: windows-latest

    steps:

    - name: Update agent configuration
      shell: pwsh
      run: |
        if ($IsWindows) {
          "DOTNET_INSTALL_DIR=D:\tools\dotnet" >> ${env:GITHUB_ENV}
          "DOTNET_ROOT=D:\tools\dotnet" >> ${env:GITHUB_ENV}
          "NUGET_PACKAGES=D:\.nuget\packages" >> ${env:GITHUB_ENV}
        } else {
          $nugetHome = "~/.nuget/packages"
          if (-Not (Test-Path $nugetHome)) {
            New-Item -Path $nugetHome -Type Directory -Force | Out-Null
          }
          $nugetHome = Resolve-Path $nugetHome
          "NUGET_PACKAGES=$nugetHome" >> ${env:GITHUB_ENV}
        }

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '24.x'

    - name: Build, test and publish
      id: build
      shell: pwsh
      run: ./build.ps1

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        flags: ${{ matrix.os-name }}
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload test results to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      if: ${{ !cancelled() }}
      with:
        flags: ${{ matrix.os-name }}
        report_type: test_results
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Docker log in
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      if: env.PUBLISH_CONTAINER == 'true'
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ secrets.ACR_REGISTRY_USERNAME }}
        password: ${{ secrets.ACR_REGISTRY_PASSWORD }}

    - name: Publish container
      id: publish-container
      if: runner.os == 'Linux'
      shell: pwsh
      env:
        ContainerRegistry: ${{ env.PUBLISH_CONTAINER == 'true' && env.CONTAINER_REGISTRY || '' }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PYROSCOPE_ARCH: 'x86_64'
        PYROSCOPE_VARIANT: 'glibc'
        # renovate: datasource=nuget depName=Pyroscope packageName=Pyroscope
        PYROSCOPE_VERSION: '0.14.1'
        SentryAuthToken: ${{ secrets.SENTRY_TOKEN }}
        UsePyroscope: 'false'
      run: |
        if (${env:UsePyroscope} -eq "true") {
          Write-Output "Downloading Pyroscope..."

          $pyroscope = (gh api "/repos/grafana/pyroscope-dotnet/releases/tags/v${env:PYROSCOPE_VERSION}-pyroscope" | ConvertFrom-Json)
          $pyroscopeAsset = $pyroscope.assets | Where-Object { $_.name -eq "pyroscope.${env:PYROSCOPE_VERSION}-${env:PYROSCOPE_VARIANT}-${env:PYROSCOPE_ARCH}.tar.gz" }
          $pyroscopeUrl = $pyroscopeAsset.browser_download_url

          $archive = Join-Path ${env:RUNNER_TEMP} "pyroscope.tar.gz"
          Invoke-WebRequest -Uri $pyroscopeUrl -OutFile $archive

          Write-Output "Extracting Pyroscope..."

          $targetPath = Join-Path ${env:GITHUB_WORKSPACE} ".pyroscope"
          New-Item -Path $targetPath -Type Directory -Force | Out-Null
          tar -xzf $archive -C $targetPath

          chmod +x (Join-Path $targetPath "Pyroscope.Linux.ApiWrapper.x64.so")
          chmod +x (Join-Path $targetPath "Pyroscope.Profiler.Native.so")
        }

        Write-Output "Publishing container..."
        dotnet publish ./src/API --arch x64 --os linux -p:PublishProfile=DefaultContainer

    - name: Generate SBOM for binaries
      uses: anchore/sbom-action@17ae1740179002c89186b61233e0f892c3118b11 # v0.23.0
      with:
        artifact-name: 'publish-${{ matrix.os-name }}.spdx.json'
        output-file: ./artifacts/publish.spdx.json
        path: ./artifacts/publish

    - name: Generate SBOM for container
      uses: anchore/sbom-action@17ae1740179002c89186b61233e0f892c3118b11 # v0.23.0
      if: steps.publish-container.outputs.container-tag != ''
      with:
        image: ${{ steps.publish-container.outputs.container-tag }}
        output-file: ./artifacts/container.spdx.json

    - name: Attest container image
      uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
      if: steps.publish-container.outputs.container-digest != ''
      with:
        create-storage-record: false
        push-to-registry: true
        subject-digest: ${{ steps.publish-container.outputs.container-digest }}
        subject-name: ${{ steps.publish-container.outputs.container-image }}

    - name: Attest SBOM for container
      uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
      if: steps.publish-container.outputs.container-digest != ''
      with:
        push-to-registry: true
        sbom-path: ./artifacts/container.spdx.json
        subject-digest: ${{ steps.publish-container.outputs.container-digest }}
        subject-name: ${{ steps.publish-container.outputs.container-image }}

    - name: Install cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      if: steps.publish-container.outputs.container-digest != '' && steps.publish-container.outputs.container-tag != ''
      env:
        # renovate: datasource=github-releases depName=cosign packageName=sigstore/cosign
        COSIGN_VERSION: v3.0.5
      with:
        cosign-release: ${{ env.COSIGN_VERSION }}

    - name: Sign container image
      if: steps.publish-container.outputs.container-digest != '' && steps.publish-container.outputs.container-tag != ''
      shell: bash
      env:
        DIGEST: ${{ steps.publish-container.outputs.container-digest }}
        TAGS: ${{ steps.publish-container.outputs.container-tag }}
      run: echo "${TAGS}" | xargs -I {} cosign sign --yes "{}@${DIGEST}" --annotations "ref=${GITHUB_SHA}" --annotations "repo=${GITHUB_REPOSITORY}" --annotations "workflow=${GITHUB_WORKFLOW}"

    - name: Upload any crash dumps
      shell: pwsh
      if: |
        !cancelled() &&
        steps.build.outcome == 'failure' &&
        github.event.repository.fork == false &&
        !contains(fromJSON('["dependabot[bot]", "github-actions[bot]", "renovate[bot]"]'), github.event.pull_request.user.login)
      env:
        AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.CRASH_DUMPS_STORAGE_CONNECTION_STRING }}
        # renovate: datasource=github-releases depName=PSCompression packageName=santisq/PSCompression
        PSCOMPRESSION_VERSION: '3.1.0'
      run: |
        $dumps = Get-ChildItem -Path ${env:GITHUB_WORKSPACE} -Filter "*.dmp" -Recurse
        if ($null -ne $dumps) {

          $container = ${env:GITHUB_REPOSITORY}.Replace("/", "-")
          az storage container create --name $container --public-access off | Out-Null

          Install-Module PSCompression -RequiredVersion ${env:PSCOMPRESSION_VERSION} -AcceptLicense -Force -Scope CurrentUser

          $dumps | ForEach-Object {
            $zipPath = $_.FullName + ".zip"
            $zipName = $_.Name + ".zip"

            Write-Output "Compressing crash dump $($_.Name)..."
            Compress-ZipArchive -Path $_.FullName -Destination $zipPath

            az storage blob upload `
              --container-name $container `
              --file $zipPath `
              --name $zipName `
              --metadata "GITHUB_RUN_ATTEMPT=${env:GITHUB_RUN_ATTEMPT}" "GITHUB_WORKFLOW=${env:GITHUB_SERVER_URL}/${env:GITHUB_REPOSITORY}/actions/runs/${env:GITHUB_RUN_ID}" "RUNNER_OS=${env:RUNNER_OS}" `
              --overwrite true

            if ($LASTEXITCODE -eq 0) {
              Write-Output "::notice::Uploaded crash dump $($_.Name) to Azure Storage."
            }
          }
        }

  deploy-production:
    if: github.event.repository.fork == false && github.ref_name == github.event.repository.default_branch
    needs: build
    runs-on: ubuntu-latest
    concurrency: production_environment

    environment:
      name: production
      url: ${{ env.APPLICATION_URL_PROD }}

    permissions:
      contents: write
      id-token: write

    steps:

    - name: Create deployment annotation
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      env:
        APPLICATION_NAME: ${{ env.AZURE_WEBAPP_NAME }}
        APPLICATION_NAMESPACE: API
        ENVIRONMENT_NAME: production
      with:
        script: |
          const { repo, owner } = context.repo;
          await github.rest.repos.createDispatchEvent({
            owner,
            repo,
            event_type: 'deployment_started',
            client_payload: {
              application: process.env.APPLICATION_NAME,
              environment: process.env.ENVIRONMENT_NAME,
              namespace: process.env.APPLICATION_NAMESPACE,
              repository: process.env.GITHUB_REPOSITORY,
              runAttempt: process.env.GITHUB_RUN_ATTEMPT,
              runId: process.env.GITHUB_RUN_ID,
              runNumber: process.env.GITHUB_RUN_NUMBER,
              serverUrl: process.env.GITHUB_SERVER_URL,
              sha: process.env.GITHUB_SHA,
              timestamp: Date.now(),
            }
          });

    - name: Install cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      env:
        # renovate: datasource=github-releases depName=cosign packageName=sigstore/cosign
        COSIGN_VERSION: v3.0.5
      with:
        cosign-release: ${{ env.COSIGN_VERSION }}

    - name: Azure log in
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Log in to Azure Container Registry
      shell: bash
      run: az acr login --name "${GITHUB_REPOSITORY_OWNER}"

    - name: Verify container image
      shell: bash
      env:
        CERTIFICATE_IDENTITY: ${{ format('{0}/{1}', github.server_url, github.workflow_ref) }}
        CONTAINER_IMAGE: ${{ needs.build.outputs.container-tag }}
      run: cosign verify "${CONTAINER_IMAGE}" --certificate-identity "${CERTIFICATE_IDENTITY}" --certificate-oidc-issuer "https://token.actions.githubusercontent.com"

    - name: Deploy container to Azure App Service
      uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d # v3.0.6
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        images: ${{ needs.build.outputs.container-tag }}

    - name: Check application health
      shell: pwsh
      env:
        APPLICATION_URL: ${{ env.APPLICATION_URL_PROD }}
      run: |
        $delay = 10
        $limit = 10
        $success = $false
        for ($i = 0; $i -lt $limit; $i++) {
          $response = $null
          try {
            $response = Invoke-WebRequest -Uri "${env:APPLICATION_URL}/version" -Method Get -UseBasicParsing
          } catch {
            $response = $_.Exception.Response
          }
          if (($null -ne $response) -And ($response.StatusCode -eq 200)) {
            $json = $response.Content | ConvertFrom-Json
            $version = $json.applicationVersion
            if ((-Not [string]::IsNullOrWhiteSpace($version)) -And $version.Contains(${env:GITHUB_SHA})) {
              $success = $true
              break
            }
          }
          Start-Sleep -Seconds $delay
        }
        if (-Not $success) {
          throw "${env:APPLICATION_URL} did not return a successful status code and the expected version within the time limit after $limit attempts."
        }

    - name: Update deployment annotation
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      if: ${{ !cancelled() }}
      with:
        script: |
          const { repo, owner } = context.repo;
          await github.rest.repos.createDispatchEvent({
            owner,
            repo,
            event_type: 'deployment_completed',
            client_payload: {
              repository: process.env.GITHUB_REPOSITORY,
              runAttempt: process.env.GITHUB_RUN_ATTEMPT,
              runNumber: process.env.GITHUB_RUN_NUMBER,
              timestamp: Date.now(),
            }
          });

  test-production:
    needs: deploy-production
    runs-on: ubuntu-latest
    concurrency: production_environment

    permissions:
      contents: read

    steps:

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '24.x'

    - name: Run end-to-end tests
      run: dotnet test ./tests/API.Tests --configuration Release --filter Category=EndToEnd --logger "GitHubActions;report-warnings=false"
      env:
        WEBSITE_URL: ${{ env.APPLICATION_URL_PROD }}
